# Base framework Configuration #

EnvironmentPropertyLocation = C:\\webdriverprop\\environment.properties
ReportRoot = C:\\WebdriverReport\\
InputSheetLocation = c:\\webdriverprop\\InputSheet.xls
PropertiesSheetLocation = c:\\webdriverprop\\Properties.xls

# Driver Locations #

ChromeDriverLocation = c:\\webdriverprop\\chromedriver.exe
InternetExplorerDriverLocation = c:\\webdriverprop\\IEDriverServer.exe


# Browser Locations #

MozillaFirefoxLocation = C:\\Program Files (x86)\\Mozilla Firefox\\firefox.exe 
ChromeLocation = C:\\Users\\Ajanth\\AppData\\Local\\Google\\Chrome\\Application\\chrome.exe

# Accolent specific keys #
AppName = /AccolentQa
AutoEnteredID = true